{{define "title"}}Weather Search{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container-fluid">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<form method="post">
		<table class="table table-bordered table-sm">
		<!--<table>-->
			<thead class="bg-primary text-white">
				<tr>
					<th>City</th>
					<th>State</th>
					<th>Zipcode</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="align-middle" style="background-color:lightblue;">
						<!--<div class="form-group">-->
							<!--<label for="_city">City</label>-->
							<input type="text" class="form-control" id="_city" name="_city" maxlength="200" placeholder="City" value="{{._city}}" />
						<!--</div>-->
					</td>
					<td class="align-middle" style="background-color:lightblue;">
						<!--<div class="form-group">-->
							<!--<label for="_state">State</label>-->
							<!--<div><input type="text" class="form-control" id="_state" name="_state" maxlength="200" placeholder="State" value="{{._state}}" /></div>-->
													
							<select id="_state" name="_state" class="form-control" value="{{._state}}" >
								<option value=""> </option>
								<option value="Alabama" {{._selectedAL}}>Alabama</option>
								<option value="Alaska" {{._selectedAK}}>Alaska</option>
								<option value="Arizona" {{._selectedAZ}}>Arizona</option>
								<option value="Arkansas" {{._selectedAR}}>Arkansas</option>
								<option value="California" {{._selectedCA}}>California</option>
								<option value="Colorado" {{._selectedCO}}>Colorado</option>
								<option value="Connecticut" {{._selectedCT}}>Connecticut</option>
								<option value="Delaware" {{._selectedDE}}>Delaware</option>
								<option value="Florida" {{._selectedFL}}>Florida</option>
								<option value="Georgia" {{._selectedGA}}>Georgia</option>
								<option value="Hawaii" {{._selectedHW}}>Hawaii</option>
								<option value="Idaho" {{._selectedID}}>Idaho</option>
								<option value="Illinois" {{._selectedIL}}>Illinois</option>
								<option value="Indiana" {{._selectedIN}}>Indiana</option>
								<option value="Iowa" {{._selectedIW}}>Iowa</option>
								<option value="Kansas" {{._selectedKS}}>Kansas</option>
								<option value="Kentucky" {{._selectedKY}}>Kentucky</option>
								<option value="Louisiana" {{._selectedLO}}>Louisiana</option>
								<option value="Maine" {{._selectedME}}>Maine</option>
								<option value="Maryland" {{._selectedMD}}>Maryland</option>
								<option value="Massachusetts" {{._selectedMA}}>Massachusetts</option>
								<option value="Michigan" {{._selectedMI}}>Michigan</option>
								<option value="Minnesota" {{._selectedMN}}>Minnesota</option>
								<option value="Mississippi" {{._selectedMS}}>Mississippi</option>
								<option value="Missouri" {{._selectedMO}}>Missouri</option>
								<option value="Montana" {{._selectedMT}}>Montana</option>
								<option value="Nebraska" {{._selectedNE}}>Nebraska</option>
								<option value="Nevada" {{._selectedNV}}>Nevada</option>
								<option value="New Hampshire" {{._selectedNH}}>New Hampshire</option>
								<option value="New Jersey" {{._selectedNJ}}>New Jersey</option>
								<option value="New Mexico" {{._selectedNM}}>New Mexico</option>
								<option value="New York" {{._selectedNY}}>New York</option>
								<option value="North Carolina" {{._selectedNC}}>North Carolina</option>
								<option value="North Dakota" {{._selectedND}}>North Dakota</option>
								<option value="Ohio" {{._selectedOH}}>Ohio</option>
								<option value="Oklahoma" {{._selectedOK}}>Oklahoma</option>
								<option value="Oregon" {{._selectedOR}}>Oregon</option>
								<option value="Pennsylvania" {{._selectedPN}}>Pennsylvania</option>
								<option value="Rhode Island" {{._selectedRI}}>Rhode Island</option>
								<option value="South Carolina" {{._selectedSC}}>South Carolina</option>
								<option value="South Dakota" {{._selectedSD}}>South Dakota</option>
								<option value="Tennessee" {{._selectedTN}}>Tennessee</option>
								<option value="Texas" {{._selectedTX}}>Texas</option>
								<option value="Utah" {{._selectedUT}}>Utah</option>
								<option value="Vermont" {{._selectedVE}}>Vermont</option>
								<option value="Virginia" {{._selectedVA}}>Virginia</option>
								<option value="Washington" {{._selectedWA}}>Washington</option>
								<option value="West Virginia" {{._selectedWV}}>West Virginia</option>
								<option value="Wisconsin" {{._selectedWI}}>Wisconsin</option>
								<option value="Wyoming" {{._selectedWY}}>Wyoming</option>
							</select>
							
							
							<!--
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="_state" data-toggle="dropdown">State <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="#"> </a></li>
									<li><a href="#">Alabama</a></li>
									<li><a href="#">Alaska</a></li>
									<li><a href="#">Arizona</a></li>
									<li><a href="#">Arkansas</a></li>
									<li><a href="#">California</a></li>
									<li><a href="#">Colorado</a></li>
									<li><a href="#">Connecticut</a></li>
									<li><a href="#">Delaware</a></li>
									<li><a href="#">Florida</a></li>
									<li><a href="#">Georgia</a></li>
									<li><a href="#">Hawaii</a></li>
									<li><a href="#">Idaho</a></li>
									<li><a href="#">Illinois</a></li>
									<li><a href="#">Indiana</a></li>
									<li><a href="#">Iowa</a></li>
									<li><a href="#">Kansas</a></li>
									<li><a href="#">Kentucky</a></li>
									<li><a href="#">Louisiana</a></li>
									<li><a href="#">Maine</a></li>
									<li><a href="#">Maryland</a></li>
									<li><a href="#">Massachusetts</a></li>
									<li><a href="#">Michigan</a></li>
									<li><a href="#">Minnesota</a></li>
									<li><a href="#">Mississippi</a></li>
									<li><a href="#">Missouri</a></li>
									<li><a href="#">Montana</a></li>
									<li><a href="#">Nebraska</a></li>
									<li><a href="#">Nevada</a></li>
									<li><a href="#">New Hampshire</a></li>
									<li><a href="#">New Jersey</a></li>
									<li><a href="#">New Mexico</a></li>
									<li><a href="#">New York</a></li>
									<li><a href="#">North Carolina</a></li>
									<li><a href="#">North Dakota</a></li>
									<li><a href="#">Ohio</a></li>
									<li><a href="#">Oklahoma</a></li>
									<li><a href="#">Oregon</a></li>
									<li><a href="#">Pennsylvania</a></li>
									<li><a href="#">Rhode Island</a></li>
									<li><a href="#">South Carolina</a></li>
									<li><a href="#">South Dakota</a></li>
									<li><a href="#">Tennessee</a></li>
									<li><a href="#">Texas</a></li>
									<li><a href="#">Utah</a></li>
									<li><a href="#">Vermont</a></li>
									<li><a href="#">Virginia</a></li>
									<li><a href="#">Washington</a></li>
									<li><a href="#">West Virginia</a></li>
									<li><a href="#">Wisconsin</a></li>
									<li><a href="#">Wyoming</a></li>
								</ul>
							</div>
							--> 
						<!--</div>-->
					</td>
					<td class="align-middle" style="background-color:lightblue;">
						<!--<div class="form-group">-->
							<!--<label for="_zipcode">Zipcode</label>-->
							<input type="text" class="form-control" id="_zipcode" name="_zipcode" maxlength="10" placeholder="Zipcode" value="{{._zipcode}}" />
						<!--</div>-->
					</td>
					<td class="align-middle" style="background-color:lightblue;">
						<input type="submit" class="btn btn-primary" value="Get Weather" />
						<!--<button type="button" class="btn btn-primary">Get Weather</button>-->
						<!--
						<br>
						<div class="radio mx-4 px-4"><label><input type="radio" id="_rdomodeAPI" name="_rdomode" value="api" checked>Use Google & OWM API</label></div>
						<div class="radio mx-4 px-4"><label><input type="radio" id="_rdomodeForeca" name="_rdomode" value="foreca">Scrape Foreca.io</label></div>
						<div class="radio"><label><input type="radio" id="_rdomodeWeather" name="_rdomode" value="weather" disabled>Scrape Weather.com</label></div>
						-->
					</td>
				</tr>

				<!--
				<tr>
					<td colspan=3 style="background-color:lightblue;">
						<div class="form-frame">
							<label for="_address">Address</label>
							<input type="text" class="form-control" id="_address" name="_address" maxlength="100" placeholder="Address" value="{{._address}}" />
						</div>
					</td>
				</tr>
				-->

				<tr>
					<td colspan=3 style="background-color:lightblue;">
						<div>
							<label class="radio-inline mx-4 px-4"><input type="radio" id="_rdomodeAPI" name="_rdomode" value="api" checked>Use OpenWeatherMap API</label>
							<label class="radio-inline mx-4 px-4"><input type="radio" id="_rdomodeForeca" name="_rdomode" value="foreca">Scrape Foreca.io</label>
							<label class="radio-inline mx-4 px-4"><input type="radio" id="_rdomodeWeather" name="_rdomode" value="weather" disabled>Scrape Weather.com</label>
						</div>
						<!--
						<div class="radio"><label><input type="radio" id="_rdomodeAPI" name="_rdomode" value="api" checked>Use OpenWeatherMap API&nbsp;&nbsp;&nbsp;</label></div>
						<div class="radio"><label><input type="radio" id="_rdomodeForeca" name="_rdomode" value="foreca">Scrape Foreca.io&nbsp;&nbsp;&nbsp;</label></div>
						<div class="radio"><label><input type="radio" id="_rdomodeWeather" name="_rdomode" value="weather" disabled>Scrape Weather.com</label></div>
						-->
					</td>
				</tr>


				<tr>
					<td colspan="4"><br/></td>
				</tr>


				<tr>
					<td colspan="4" class="align-middle" style="background-color:lightgreen;">
						<!--<div class="form-group">-->
							Current Temp:&nbsp;<label for="CurrTempVal">{{._currtemp}}</label>
							<!--<div><input type="text" class="form-control" id="_currtemp" name="_currtemp" maxlength="10" placeholder="Current Temp" value="{{._currtemp}}" /></div>-->
						<!--</div>-->
					</td>
				</tr>
				<tr>	
					<td colspan="4" class="align-middle" style="background-color:lightgreen;">
						<!--<div class="form-group">-->
							High Temp: <label for="HighTempVal">{{._hightemp}}</label>
							<!--<div><input type="text" class="form-control" id="_hightemp" name="_hightemp" maxlength="10" placeholder="High Temp" value="{{._hightemp}}" /></div>-->
						<!--</div>-->
					</td>
				</tr>
				<tr>	
					<td colspan="4" class="align-middle" style="background-color:lightgreen;">
						<!--<div class="form-group">-->
							Low Temp: <label for="LowTempVal">{{._lowtemp}}</label>
							<!--<div><input type="text" class="form-control" id="_lowtemp" name="_lowtemp" maxlength="10" placeholder="Low Temp" value="{{._lowtemp}}" /></div>-->
						<!--</div>-->
					</td>
				</tr>
				<tr>
					<td colspan="4" class="align-middle" style="background-color:lightgreen;">
						<!--<div class="form-group">-->
							<label for="Desc">Weather Description: </label>
							<label class="red-text" for="DescVal">{{._desc}}</label>
						<!--</div>-->
					</td>
				</tr>
				<tr>	
					<td colspan="4" class="align-middle" style="background-color:lightgreen;">
						<!--<div class="form-group">-->
							<label for="Icon">Icon: </label>
							<img src="{{._icon}}" />
						<!--</div>-->
					</td>
				</tr>


				<tr>
					<td colspan="4"><br/></td>
				</tr>


				<tr>
					<td colspan=4 style="background-color:lightgray;">
						<div class="form-frame">
							<label for="Frame">Courtesy of Foreca.com or OpenWeatherMap</label>
							<div><iframe src="{{._ifsrc}}" style="height:600px; width:1500px; border:2px solid blue;"></iframe></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<input type="hidden" name="token" value="{{.token}}">
	</form>
	
	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}