{{define "title"}}Search{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<form method="post">
		<table>
			<tr>
				<td vertical-align="top" style="background-color:lightblue;">
					<div class="form-group">
						<label for="City">City</label>
						<div><input type="text" class="form-control" id="_city" name="_city" maxlength="200" placeholder="City" value="{{._city}}" /></div>
					</div>
				</td>
				<td vertical-align="top" style="background-color:lightblue;">
					<div class="form-group">
						<label for="State">State</label>
						<!--<div><input type="text" class="form-control" id="_state" name="_state" maxlength="200" placeholder="State" value="{{._state}}" /></div>-->
						<div>
							<select id="_state" name="_state" class="form-control" value="{{._state}}" >
								<option value=""> </option>
								<option value="Alabama" {{._selectedAL}}>Alabama</option>
								<option value="Alaska" {{._selectedAK}}>Alaska</option>
								<option value="Arizona" {{._selectedAZ}}>Arizona</option>
								<option value="Arkansas" {{._selectedAR}}>Arkansas</option>
								<option value="California" {{._selectedCA}}>California</option>
								<option value="Colorado" {{._selectedCO}}>Colorado</option>
								<option value="Connecticut" {{._selectedCT}}>Connecticut</option>
								<option value="Delaware" {{._selectedDE}}>Delaware</option>
								<option value="Florida" {{._selectedFL}}>Florida</option>
								<option value="Georgia" {{._selectedGA}}>Georgia</option>
								<option value="Hawaii" {{._selectedHW}}>Hawaii</option>
								<option value="Idaho" {{._selectedID}}>Idaho</option>
								<option value="Illinois" {{._selectedIL}}>Illinois</option>
								<option value="Indiana" {{._selectedIN}}>Indiana</option>
								<option value="Iowa" {{._selectedIW}}>Iowa</option>
								<option value="Kansas" {{._selectedKS}}>Kansas</option>
								<option value="Kentucky" {{._selectedKY}}>Kentucky</option>
								<option value="Louisiana" {{._selectedLO}}>Louisiana</option>
								<option value="Maine" {{._selectedME}}>Maine</option>
								<option value="Maryland" {{._selectedMD}}>Maryland</option>
								<option value="Massachusetts" {{._selectedMA}}>Massachusetts</option>
								<option value="Michigan" {{._selectedMI}}>Michigan</option>
								<option value="Minnesota" {{._selectedMN}}>Minnesota</option>
								<option value="Mississippi" {{._selectedMS}}>Mississippi</option>
								<option value="Missouri" {{._selectedMO}}>Missouri</option>
								<option value="Montana" {{._selectedMT}}>Montana</option>
								<option value="Nebraska" {{._selectedNE}}>Nebraska</option>
								<option value="Nevada" {{._selectedNV}}>Nevada</option>
								<option value="New Hampshire" {{._selectedNH}}>New Hampshire</option>
								<option value="New Jersey" {{._selectedNJ}}>New Jersey</option>
								<option value="New Mexico" {{._selectedNM}}>New Mexico</option>
								<option value="New York" {{._selectedNY}}>New York</option>
								<option value="North Carolina" {{._selectedNC}}>North Carolina</option>
								<option value="North Dakota" {{._selectedND}}>North Dakota</option>
								<option value="Ohio" {{._selectedOH}}>Ohio</option>
								<option value="Oklahoma" {{._selectedOK}}>Oklahoma</option>
								<option value="Oregon" {{._selectedOR}}>Oregon</option>
								<option value="Pennsylvania" {{._selectedPN}}>Pennsylvania</option>
								<option value="Rhode Island" {{._selectedRI}}>Rhode Island</option>
								<option value="South Carolina" {{._selectedSC}}>South Carolina</option>
								<option value="South Dakota" {{._selectedSD}}>South Dakota</option>
								<option value="Tennessee" {{._selectedTN}}>Tennessee</option>
								<option value="Texas" {{._selectedTX}}>Texas</option>
								<option value="Utah" {{._selectedUT}}>Utah</option>
								<option value="Vermont" {{._selectedVE}}>Vermont</option>
								<option value="Virginia" {{._selectedVA}}>Virginia</option>
								<option value="Washington" {{._selectedWA}}>Washington</option>
								<option value="West Virginia" {{._selectedWV}}>West Virginia</option>
								<option value="Wisconsin" {{._selectedWI}}>Wisconsin</option>
								<option value="Wyoming" {{._selectedWY}}>Wyoming</option>
							</select>
						</div>
					</div>
				</td>
				<td vertical-align="top" style="background-color:lightblue;">
					<div class="form-group">
						<label for="Zipcode">Zipcode</label>
						<div><input type="text" class="form-control" id="_zipcode" name="_zipcode" maxlength="10" placeholder="Zipcode" value="{{._zipcode}}" /></div>
					</div>
				</td>
				<td vertical-align="top" rowspan=2 style="background-color:lightyellow;">
					<input type="submit" class="btn btn-primary" value="Get Weather" class="button" />
				</td>
			</tr>



			<tr>
				<td vertical-align="top" style="background-color:lightgreen;">
					<div class="form-group">
						<label for="CurrTemp">Current Temp: </label>
						<label for="CurrTempVal">{{._currtemp}}</label>
						<!--<div><input type="text" class="form-control" id="_currtemp" name="_currtemp" maxlength="10" placeholder="Current Temp" value="{{._currtemp}}" /></div>-->
					</div>
				</td>
				<td vertical-align="top" style="background-color:lightgreen;">
					<div class="form-group">
						<label for="HighTemp">High Temp: </label>
						<label for="HighTempVal">{{._hightemp}}</label>
						<!--<div><input type="text" class="form-control" id="_hightemp" name="_hightemp" maxlength="10" placeholder="High Temp" value="{{._hightemp}}" /></div>-->
					</div>
				</td>
				<td vertical-align="top" style="background-color:lightgreen;">
						<div class="form-group">
						<label for="LowTemp">Low Temp: </label>
						<label for="LowTempVal">{{._lowtemp}}</label>
						<!--<div><input type="text" class="form-control" id="_lowtemp" name="_lowtemp" maxlength="10" placeholder="Low Temp" value="{{._lowtemp}}" /></div>-->
					</div>
				</td>
				<!--<td vertical-align="top" style="background-color:lightgreen;">&nbsp;</td>-->
			</tr>


			<tr>
				<td colspan=4 style="background-color:lightgray;">
					<br/><br/>
					<div class="form-frame">
						<label for="Frame">Courtesy of Weather.com</label>
						<div><iframe src="{{._ifsrc}}" style="height:600px; width:1500px; border:2px solid blue;"></iframe></div>
					</div>
				</td>
			</tr>
		</table>
		
		<input type="hidden" name="token" value="{{.token}}">
	</form>
	
	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}